.category-page{
    padding: 2rem 3.2rem;
}

.toolbar-section{
    text-align: left;
    input{
        width: 100%;
        border: none;
        border-bottom: 1px solid black;
        padding: 0.5rem 1.5rem;
    }
}