.textCenter {
    text-align: center;
    font-size: x-large;
    padding-top: 10px;
  }
  
  .textCenterNoPad {
    text-align: center;
    font-size: x-large;
    max-width: 800px;
    margin: 0 auto;
  }
  
  .headerText {
    text-align: center;
    font-size: 50px;
  }
  